@using UserNotePAD.Models
@model Note
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UserNotePAD</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/rest.css" asp-append-version="true" />


</head>
<style>

       @@page {
        size: A4;
        margin: 0; /* Remove default margins */
    }

    * {
        font-family: sans-serif;
        margin: 0;
        padding: 0;
    }

    body {
        background: #EEE
    }

    #container {
        width: 100%;
        padding: 20px;
        background: none;
        position: relative;
        border-bottom: 3px solid #AAA;
        box-sizing:border-box;
    }

    .spacer {
        height: 50px;
    }

    #doc_stat {
        width: 15px;
        color: #EEE;
        float: right;
        background: #272;
        padding: 3px 5px;
        border-radius: 3px;
        overflow: hidden;
        transition: width .3s ease;
    }

        #doc_stat span {
            white-space: nowrap;
        }

        #doc_stat:hover {
            width: 70px
        }

    #title {
        display: inline-block;
        color: #CCC;
    }

    #title_field {
        font-size: 24pt;
        background: transparent;
        width: auto;
        border: none;
        outline: none;
        padding: 5px 10px;
        color: #444;
    }

    #title:hover {
        background: #EEE;
        outline: thin solid #555;
    }

    hr {
        margin: 10px 0;
        border: none;
        border-top: thin solid #BBB;
    }

    #tools {
        -webkit-user-select: none; /* Chrome/Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+ */
        /* Rules below not implemented in browsers yet */
        -o-user-select: none;
        user-select: none;
    }


        #tools li {
            display: inline-block;
            color: #27C;
            font-size: 19px;
            padding: 2px 4px;
            width: 22px;
            text-align: center;
            cursor: pointer;
        }

            #tools li:hover {
                background: #49F;
                color: white;
            }

            #tools li:active {
                background: #26C;
                color: #EEE;
            }

    .grab {
        font-size: 19px;
    }

    #tools div {
        display: inline-block;
        padding: 5px 5px;
        color: #DDD;
    }

        #tools div:hover {
            background: #303030;
            color: #555;
            outline: thin solid #555;
        }

    #body {
        font-family: "Times New Roman",serif;
        background: #FFF;
        outline: none;
        width: 100%;
        font-size: 14pt;
        /* margin-left: 230px; */
        padding: 40px;
        height: 1500px;
        color: black;
        box-shadow: 0px 0px 30px #AAA;
        box-sizing: inherit;
    }


        #body * {
            font-family: "Times New Roman",serif;
        }

     .page {
        page-break-before: always;
        min-height: 100vh;
        padding: 20px;
    }


</style>
<body>

    <div class="spacer"></div>
    <div id="container">
        <!-- Title and toolbar here if needed -->
        <div id="body" contenteditable="true">
            <!-- Initial page -->
            <div class="page" contenteditable="true">
                <p>Welcome to UserNotePAD</p>
                <p>Start typing your notes here...</p>
            </div>
        </div>
    </div>
    <div class="spacer"></div>


</body>
<script src="~/js/page.js" asp-append-version="true"></script>
<script>

</script>
</html>