/*@media only screen and (max-width: 767px) {
    #body {
        font-family: "Times New Roman",serif;
        background: #FFF;
        outline: none;
        width: 60%;
        font-size: 14pt;
        margin-right: 23000px;
        padding: 40px;
        height: 1000px;
        color: black;
        box-shadow: 0 0 20px #AAA;
    }
}
*/

